<footer>
    <hr/>
    <a href="http://github.com/theshoe1029"><img src="{{ site.url }}/assets/githubresized.png" alt="github logo" class="github"></a>
    <a href="https://www.youtube.com/channel/UC47w7bm7GmZ825914UwivKg"><img src="{{ site.url }}/assets/youtube.png" alt="youtube logo" class="youtube"></a>
    <a href="assets/Adam Schueller's Resume.pdf" download><img src = "{{ site.url }}/assets/download.png" alt="download logo" class = "download"></a>
    <p>&copy; 2017 Adam Schueller</p>
</footer>